# init.modem.rc for telephony services
# AT proxy service
service proxy /system/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10
    socket atproxy-status stream 660 system radio
    socket atproxy-apb stream 660 radio system
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy tunneling mode service
service proxy-tunneling /system/bin/proxy -d /dev/gsmtty1 -m /dev/gsmtty10 -t on
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy2 service
service proxy2 /system/bin/proxy -d /dev/gsmtty65 -m /dev/gsmtty74 -i 2
    socket atproxy-status2 stream 666 root radio system
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy2 tunneling mode service
    service proxy-tunneling2 /system/bin/proxy -d /dev/gsmtty65 -m /dev/gsmtty74 -t on -i 2
    class main
    user radio
    group radio system cache inet misc
    disabled

# AT proxy USB reset utility service
service atproxy_usbreset /system/bin/atproxy_usbreset
    oneshot
    user radio
    disabled

# MTS SERVICES

#logging over pti
service pti_sigusr1 /system/bin/pti_sigusr1
    user system
    group radio log media_rw sdcard_rw inet
    oneshot
    disabled

# mts persistent
service mtsp /system/bin/mts
    user system
    group radio log media_rw sdcard_r sdcard_rw inet
    disabled

# mts oneshot
service mtso /system/bin/mts
    user system
    group radio log media_rw sdcard_rw inet
    oneshot
    disabled

# mts2 persistent
service mtsp2 /system/bin/mts -m 2
    user radio
    group system radio log media_rw sdcard_r sdcard_rw inet
    disabled

# mts oneshot
service mtso2 /system/bin/mts -m 2
    user radio
    group system radio log media_rw sdcard_rw inet
    oneshot
    disabled

# MTS Properties, events trigging service

on property:persist.service.mtsp.enable=1
    start mtsp

on property:persist.service.mtsp.enable=0
    stop mtsp

on property:persist.sys.mtsp2.enable=1
    start mtsp2

on property:persist.sys.mtsp2.enable=0
    stop mtsp2

on property:persist.system.at-proxy.mode=*
setprop system.at-proxy.mode ${persist.system.at-proxy.mode}

on property:system.at-proxy.mode=0
    stop proxy
    stop proxy2
    stop proxy-tunneling
    stop proxy-tunneling2
    start atproxy_usbreset

on property:system.at-proxy.mode=1
    stop ad_proxy
    stop proxy-tunneling
    stop proxy-tunneling2
    stop proxy2
    setprop sys.usb.config rndis,acm,adb
    start proxy

on property:system.at-proxy.mode=2
    stop ad_proxy
    stop proxy
    stop proxy2
    stop proxy-tunneling2
    setprop sys.usb.config rndis,acm,adb
    start proxy-tunneling

on property:system.at-proxy.mode=3
    stop proxy-tunneling
    stop proxy-tunneling2
    stop proxy
    setprop sys.usb.config rndis,acm,adb
    start proxy2

on property:system.at-proxy.mode=4
    stop proxy
    stop proxy2
    stop proxy-tunneling
    setprop sys.usb.config rndis,acm,adb
    start proxy-tunneling2

on boot

#  Permissions for modem_nvram files used for pin caching
    chmod 0770 /sys/kernel/modem_nvram
    chown system radio /sys/kernel/modem_nvram
    chown system radio /sys/kernel/modem_nvram/dump
    chown system radio /sys/kernel/modem_nvram/clear
    chown system radio /sys/kernel/modem_nvram/size

on post-fs-data

# create NVM log folder
    mkdir /data/modem
    chown system radio /data/modem
    chmod 770 /data/modem

# create factory modem FW folder
    mkdir /factory/telephony
    chown system radio /factory/telephony
    chmod 770 /factory/telephony

# create config modem FW folder
    mkdir /config/telephony
    chown system radio /config/telephony
    chmod 770 /config/telephony

# create cache modem firmware folder
    mkdir /cache/telephony
    chown system radio /cache/telephony
    chmod 770 /cache/telephony

# adding Telephony
service mmgr /system/bin/mmgr -i 1
    class main
    socket mmgr stream 660 system radio
    user system
    group radio cache inet misc system usb

service mmgr2 /system/bin/mmgr -i 2
    class main
    socket mmgr2 stream 660 system radio
    user system
    group radio cache inet misc system usb
    disabled

# adding nvm manager
service nvmmanager /system/bin/nvm_server
    class core
    socket nvm-ctl stream 660 system radio
    user system
    group radio cache inet misc system
    seclabel u:r:nvm_server:s0

# adding 2nd nvm manager for DSDA
service nvmmanager2 /system/bin/nvm_server -i 2
    class core
    socket nvm-ctl2 stream 660 system radio
    user system
    group radio cache inet misc system
    disabled
    seclabel u:r:nvm_server:s0

# adding 2nd vendor ril instance in case of multi sim
service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio
    disabled

service modem-c_main-sh /system/bin/sh /init.class_main.sh
    class main
    user root
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start modem-c_main-sh

on property:persist.radio.multisim.config=dsda
    start mmgr2
    start nvmmanager2

on property:persist.disable_NVM_Server=1
    stop nvmmanager
    stop nvmmanager2

# Activate RPS for usbX devices
on property:sys.usb.modemevt=1
   setprop sys.usb.modemevt 0
   wait /sys/class/net/usb0/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb0/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb1/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb1/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb2/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb2/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb3/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb3/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb4/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb4/queues/rx-0/rps_cpus F
