import init.bt.vendor.rc

# Point on the right bt_vendor.conf at runtime
on property:ro.product.name=*
    setprop ro.bt.conf_file /system/etc/bluetooth/bt_${ro.product.name}.conf

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    group bluetooth wifi system dhcp
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    group bluetooth system dhcp
    disabled
    oneshot

service bd_prov /system/bin/bd_prov
    class core
    user system
    group system bluetooth
    disabled
    oneshot
    seclabel u:r:bluetooth:s0

service bdt /system/bin/bdt s
    disable
    oneshot
	
service BrcmService /system/bin/BrcmService.sh
    disable
    oneshot
		
service BrcmChmod /system/bin/BrcmChmod.sh
    disable
    oneshot  
