on post-fs

    insmod /lib/modules/libmsrlisthelper.ko
    insmod /lib/modules/t4k37.ko
    insmod /lib/modules/m10mo_isp.ko
    insmod /lib/modules/ov5670.ko
    insmod /lib/modules/sky81296.ko
    insmod /lib/modules/atomisp-css2401a0_v21.ko dypool_enable=y repool_pgnr=39936 dypool_pgnr=39936
