# MOFD_V0 specific rules for recovery OS
on early-init
    chmod 0600 /dev/dri/controlD64
    start thermald

on init
    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    symlink /dev/block/pci/pci0000:00/0000:00:01.0/by-name /dev/block/by-name

    write /proc/sys/kernel/panic_on_oops 1

    mkdir /factory 0775 system system
    mount ext4 /dev/block/by-name/factory /factory nosuid nodev noatime barrier=1,data=ordered

on boot
    setprop sys.usb.config adb
    trigger firmware_mounts_complete

on firmware_mounts_complete
    rm /dev/.booting

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 8087
    write /sys/class/android_usb/android0/idProduct 0a5d
    write /sys/class/android_usb/android0/iProduct "Android-Phone"
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1

service intel_prop /sbin/intel_prop
    oneshot

# copied from common/init.watchdogd.rc
service watchdogd /sbin/watchdogd 60 20
    oneshot

service thermald /sbin/thermald ROS
    class core
    user root

# Reset the watchdog counter once boot is completed
on property:init.svc.recovery=running
    write /sys/devices/virtual/misc/watchdog/counter "0"
