import init.common.rc
import init.debug.rc
import init.diag.rc
import init.avc.rc
import init.wifi.rc
import init.platform.usb.rc
import init.gps.rc
import init.nfc.rc
import init.bt.rc
import init.modem.rc
import init.config_init.rc
import init.logtool.rc

#+++++++++++++++++++++lynn 2014/10/27 FAC++++++++++++++++++++++
#note:ship IMG no init.fac.ze550ml.rc file.
import init.fac.flag.rc
import init.fac.fm.rc
#---------------------lynn 2014/10/27 FAC----------------------

on early-init
# Set boot_min_cap for boot to Android.
    setprop ro.boot.min.cap 0

on init
    write /sys/class/graphics/fbcon/cursor_blink 0
    mkdir /data/system/ 0770 system system
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/audio 0770 audio audio

    chmod 0600 /dev/dri/controlD64
    chmod 0640 /dev/matrix

    # Android creates by-name disk links with the disk controller
    # in the generated path, so that the names pulled out of the GPT
    # can be associated with the correct disk. Create a shortcut to
    # /dev/block/by-name so that we can use the same fstabs everywhere.
    symlink /dev/block/pci/pci0000:00/0000:00:01.0/by-name /dev/block/by-name

    write /proc/sys/kernel/hung_task_timeout_secs 0

    chmod 0644 /system/framework/core.jar
    chmod 0644 /system/framework/framework.jar
    chmod 0644 /system/framework/apache-xml.jar
    chmod 0644 /system/framework/ext.jar

    mkdir /ADF 0775 system system
    mkdir /APD 0775 system system

    mkdir /factory
    mkdir /config
    #mkdir /logs

    #  Mount the sep filesystem
    mount sepfs sepfs /sys/fs/sepfs

on boot
#  Permissions for Thermal Management
    chown system system /sys/class/power_supply/bq24192_charger/device/charge_current_limit
    chown system system /sys/module/intel_mid_osip/parameters/force_shutdown_occured
    chown system system /sys/module/intel_mid_osip/parameters/thermal_shutdown_occured
    chown system system /sys/devices/platform/coretemp.0/temp2_threshold1
    chown system system /sys/devices/platform/coretemp.0/temp2_threshold2
    chown system system /sys/class/powercap/intel-rapl/intel-rapl:0/constraint_0_power_limit_uw
    chown system system /sys/fps_throttle/notify
    chown system system /sys/fps_throttle/handshake

#   Offload specific properties

    setprop audio.offload.disable 0
    setprop audio.offload.min.duration.secs 20
    setprop offload.compress.device 1
    setprop audio.device.name rt5647audio
#   audio.offload.capabilities
#   A 32 bit value.  To be set in HEX
#   |---------|--------|--------|------------|
#   |Byte 3   |Byte 2  |Byte 1  |   Byte 0   |
#   |Reserved |Reserved|Reserved|capabilities|
#   |---------|--------|--------|------------|
#   First byte (Byte 0) from the right represents capabilities
#   Bit position  8th,7th,6th,5th,4th     3rd          2nd      1st
#   Indication    Reserved for future  Multichannel   Effects   Video
#   Second, Third and Fourth byte reserved for future use
#   Set the HEX value by ORing the bits for each format/feature
#   Example usage: To enable Multichannel offload, value to be set is 4
    setprop audio.offload.capabilities 1

# set scalability to 1 to enable it in system.
    setprop audio.offload.scalability 1
    setprop offload.mixer.volume.ctl.name "media0_in volume 0 volume"
    setprop offload.mixer.mute.ctl.name "media0_in volume 0 mute"
    setprop offload.mixer.rp.ctl.name "media0_in volume 0 rampduration"

#   Set the vtsv device and card
    setprop audio.vtsv.card rt5647audio
    setprop audio.vtsv.device 5
    setprop audio.vtsv.dsp_log 0

#   Set the aware card
    setprop audio.aware.card rt5647audio

# Enable/Disable deep buffer property for mofd_v1
   setprop lpa.deepbuffer.enable 1

    chown system system /sys/class/pci_bus/0000:00/device/0000:00:16.1/control
    chown system system /sys/class/pci_bus/0000:00/device/0000:00:16.1/data
    chown system system /sys/class/pci_bus/0000:00/device/0000:00:16.1/data_size
    chown system system /sys/class/pci_bus/0000:00/device/0000:00:16.1/fw_version

# Lte coexistence ( can be enabled the following: NRT / NRT+RT )
# Enable LTE Coexistence NRT (Non Real Time)
    setprop persist.service.cwsmgr.coex 1

# Disable LTE coexistence RT (Real Time). Should be set to 0 to enable.
    setprop persist.service.cwsmgr.nortcoex 0

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

# Reboot in COS on shutdown request when charger is plugged
    setprop ro.rebootchargermode true

#  Enable submix audio path for widi
    setprop widi.audio.module submix

#  Enable HDCP by default for widi
    setprop widi.hdcp.enable auto

#  Enable frc stting for merr
    setprop vppsettings.frc 1

#  Enable slow-motion playback
    setprop video.playback.slow-motion 1

    #set dirty background bytes to 24MB to reduce USB MTP write latencies
    write /proc/sys/vm/dirty_background_bytes 25165824

# Set debugfs ownership to media
   chown media media /sys/kernel/debug/sst/fw_ssp_reg
   chown media media /sys/kernel/debug/sst/shim_dump
   chown media media /sys/kernel/debug/sst/sram_ia_lpe_mailbox
   chown media media /sys/kernel/debug/sst/sram_lpe_checkpoint
   chown media media /sys/kernel/debug/sst/sram_lpe_ia_mailbox
   chown media media /sys/kernel/debug/sst/lpe_stack

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media
    setprop ro.crypto.fuse_sdcard true

    mkdir /data/misc/firmware 0770 system system

    #Invoke fuel gauging helper binary to restore config data
    chmod 0770 /dev/max170xx
    chown system system /dev/max170xx
    chown system system /sys/class/power_supply/max17047_battery/model_name
    chown system system /sys/class/power_supply/max17047_battery/serial_number
    symlink /dev/max170xx /dev/fg
    start fg_conf

    mkdir /data/logs
    chown system log /data/logs
    chmod 0770 /data/logs
    # symlink /data/logs /logs
    # Enable Dynamic Turbo feature
    setprop persist.thermal.turbo.dynamic 1

    #setup silentlake vidt and start service
    chown system system /dev/vidt
    chmod 0660 /dev/vidt
    start sl_si_service

on post-fs
    # Assume SMP uses shared cpufreq policy for all CPUs
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq
    chmod 0660 /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq

    # Volume keys wakeup capability
    chmod 0664 /sys/devices/platform/gpio-keys/enabled_wakeup
    chmod 0664 /sys/devices/platform/gpio-keys/disabled_wakeup
    chown media system /sys/devices/platform/gpio-keys/enabled_wakeup
    chown media system /sys/devices/platform/gpio-keys/disabled_wakeup

#  Permissions for Sensors
    # accelerometer lsm303dlhc
    chown system system /sys/bus/i2c/devices/5-0019/lis3dh/enable
    chown system system /sys/bus/i2c/devices/5-0019/lis3dh/poll

    #barometer lps331ap
    chown system system /sys/bus/i2c/devices/5-005c/enable
    chown system system /sys/bus/i2c/devices/5-005c/poll

    #compass lsm303dlhc
    chown system system /sys/bus/i2c/devices/5-001e/lsm303cmp/enable
    chown system system /sys/bus/i2c/devices/5-001e/lsm303cmp/poll

    #als/ps apds990x
    chmod 0755 /dev/apds990x_lsensor
    chmod 0755 /dev/apds990x_psensor

    # SEP (Chaabi)
    copy /system/etc/security/sep_policy.conf /sys/fs/sepfs/load
    chown system system /dev/dx_sep_q0
    chmod 0666 /dev/dx_sep_q0
    chown system system /dev/dx_sep_q1
    chmod 0666 /dev/dx_sep_q1

    #Gyroscope l3g4200d
    chown system system /sys/bus/i2c/devices/5-0068/poll
    chown system system /sys/bus/i2c/devices/5-0068/enable

# Permissions for monzax
    chown system system /dev/monzax
    chmod 0660 /dev/monzax

# For APD
    mount ext4 /dev/block/by-name/ADF /ADF rw noatime context=u:object_r:demoapp_file:s0

    chown system system /ADF
    chown system system /APD
    chmod 0775 /ADF
    chmod 0775 /APD

# Permissions for LED
    chown system system /sys/class/leds/intel_keypad_led/brightness

# For Indicator LED
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chmod 0644 /sys/class/leds/red/brightness
    chmod 0644 /sys/class/leds/green/brightness
    chmod 0644 /sys/class/leds/red/blink
    chmod 0644 /sys/class/leds/green/blink

#For Quick Charge control
    chown system system /proc/smb1357_qc_disable

# Permissions for BCU sysfs interface and make generic path to access by apps
    chown system system /sys/devices/platform/bcove_bcu/camflash_ctrl
    symlink /sys/devices/platform/bcove_bcu /dev/bcu
    restorecon_recursive_force /factory
    restorecon_recursive /config
    restorecon_recursive /logs

# Permissions for Touch Proximity node
    chown system system /proc/asus_touch_proximity_status

# Permissions for Touch Glove Mode
    chown system system /sys/bus/i2c/devices/i2c-7/7-0038/ftsglovemode

    setprop persist.asus.glove 0

# Permissions for Touch dclick Mode
    chown system system /sys/bus/i2c/devices/i2c-7/7-0038/ftsdclickmode

    setprop persist.asus.dclick 0

# Permissions for Touch Gesture Mode
    chown system system /sys/bus/i2c/devices/i2c-7/7-0038/ftsgesturemode

    setprop persist.asus.gesture.type 0

# Permissions for Touch Cover Mode
    chown system system /sys/bus/i2c/devices/i2c-7/7-0038/ftscovermode

    setprop persist.asus.flipcovermode 0

on property:persist.asus.glove=0
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftsglovemode 0

on property:persist.asus.glove=1
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftsglovemode 1

on property:persist.asus.dclick=0
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftsdclickmode 0

on property:persist.asus.dclick=1
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftsdclickmode 1

on property:persist.asus.gesture.type=*
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftsgesturemode ${persist.asus.gesture.type}

on property:persist.asus.flipcovermode=0
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftscovermode 0

on property:persist.asus.flipcovermode=1
    write /sys/bus/i2c/devices/i2c-7/7-0038/ftscovermode 1

service sl_si_service /system/bin/sl_si_service d=1
    user system
    group system
    socket silentlake stream 666 system system
    disabled
    oneshot

service fg_conf /system/bin/fg_conf -w
    group system
    oneshot
    disabled

#+++++++++++++++++++++lynn 2014/10/27 FAC++++++++++++++++++++++
# import ASUS factory tools script
# note:Shipping IMG no this service,because no "AsusFactory" floder where asusft.sh exist.
service asusft /system/bin/sh /system/etc/asus/asusft.sh
    class eng
    oneshot
    on property:ro.secure=0
    class_start eng
#---------------------lynn 2014/10/27 FAC----------------------

#+++++++++++++++++++++ward_du  2014/11/07 For BT,Wifi MAC and ISN,SSN ++++++++++++++++++++++
service customize /system/bin/customize_service
	class core
	user root
	oneshot
#---------------------ward_du 2014/11/07 FAC----------------------

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class main

# Root command service
service app_runcmd /system/bin/app_runcmd.sh
     disabled
     oneshot

service wifitest_runcmd /system/bin/wifitest_runcmd.sh
     disabled
     oneshot

on property:init.svc.pvrsrvctl=stopped
    # GPU freq
    chown system system /sys/class/devfreq/dfrgx/max_freq
    chmod 0660 /sys/class/devfreq/dfrgx/max_freq
    chown system system /sys/class/devfreq/dfrgx/min_freq
    chmod 0660 /sys/class/devfreq/dfrgx/min_freq

on property:service.mmgr.smp=1
   write /proc/irq/36/smp_affinity f

on property:service.mmgr.smp=0
    write /proc/irq/36/smp_affinity 1

service surfaceflinger /system/bin/surfaceflinger
    class main
    user system
    group graphics
    onrestart restart zygote

service drm /system/bin/drmserver
    class main
    user drm
    group drm system inet drmrpc sdcard_r

service sensorhubd /system/bin/sensorhubd
    class main
    user system
    group system
    socket sensorhubd stream 660 system system

service rfid_monzaxd /system/bin/rfid_monzaxd
    class main
    user system
    group system

on property:sys.boot_completed=1
    # Enable interactive governor
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive

# ASUS Product Demo
on property:persist.sys.enableAPD=1
    mount ext4 /dev/block/by-name/APD /APD rw noatime context=u:object_r:demoapp_file:s0
    chown system system /APD
    chmod 0775 /APD

on charger
    mount ext4 /dev/block/by-name/system /system ro noatime barrier=1,data=ordered
    mount ext4 /dev/block/by-name/logs /logs nosuid nodev barrier=1,data=ordered

    start watchdogd
    #insmod /lib/modules/rmi4.ko boot_mode=1

    # Invoke fuel gauging helper binary to restore config data
    chmod 0770 /dev/max170xx
    chown system system /dev/max170xx
    symlink /dev/max170xx /dev/fg
    wait /system/bin/fg_conf
    start fg_conf

    chmod 0664 /sys/devices/pci0000:00/0000:00:10.0/hsic_enable
    write /sys/devices/pci0000:00/0000:00:10.0/hsic_enable 0

#Turn on VPROG2 Power rail to avoid power leakage in Sensor

#    chmod 0664 /sys/bus/pci/devices/0000:00:16.1/control
#    write /sys/bus/pci/devices/0000:00:16.1/control "0 1 0"

on property:persist.asus.instant_camera=1
    write sys/devices/platform/gpio-keys/enabled_wakeup 115
    write sys/devices/platform/gpio-keys/enabled_wakeup 114

on property:persist.asus.instant_camera=0
    write sys/devices/platform/gpio-keys/disabled_wakeup 115
    write sys/devices/platform/gpio-keys/disabled_wakeup 114

# Add for USB ethernet dongle
service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL -f/system/etc/dhcpcd/dhcpcd.conf
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service cdrom /system/bin/sh /system/etc/init.cdrom.sh
    class main
    oneshot

# From init.rc in stock, these redefine service definitions

service_redefine media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm radio system
    ioprio rt 4

service_redefine keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore drmrpc system

