########################################################
#  BLUETOOTH CONFIGURATION - BROADCOM SPECIFIC
########################################################

on post-fs
    mkdir /config/bt
    chown system bluetooth /config/bt
    chmod 0770 /config/bt
    setprop ro.bt.bdaddr_path "/config/bt/bd_addr.conf"
    start bd_prov

on early-boot
    chmod 0644 /config/bt/bd_addr.conf

service rfkill_bt /system/bin/sh /rfkill_bt.sh
    class core
    user root
    oneshot
