
service init_factorylog /system/bin/sh /system/etc/init_factorylogtool.sh
    disabled
    oneshot

service init_logdate /system/bin/logcontrol logdumps date
    disabled
    seclable u:r:logtoold:s0
    oneshot


service initfacmodem /system/bin/modemfaclog
    class main
    disabled

#on post-fs-data
#   start init_logdate
on property:persist.asuslog.set.date=1
    start init_logdate

on property:persist.asuslog.dump.init=1
    start logtoolinit

on property:persist.asuslog.facmodeminit=1
    start initfacmodem

on property:persist.asuslog.facmodeminit=0
    stop initfacmodem

on property:persist.asuslog.fac.init=1
    start init_factorylog

service logMain /system/bin/logcontrol logdumps main
    class main
    seclable u:r:logtoold:s0
    disabled

service logProcrank /system/bin/logcontrol logdumps procrank
    class main
    seclable u:r:logtoold:s0
    disabled
    oneshot 

service logKernel /system/bin/logcontrol logdumps kernel
    class main
    seclable u:r:logtoold:s0
    disabled

service logRadio /system/bin/logcontrol logdumps radio
    class main
    seclable u:r:logtoold:s0
    disabled

service logEvent /system/bin/logcontrol logdumps event
    class main
    seclable u:r:logtoold:s0
    disabled

service logCombine /system/bin/logcontrol logdumps combine
    class main
    seclable u:r:logtoold:s0
    disabled

service logTcpdump /system/bin/logcontrol logdumps tcpdump
    class main
    seclable u:r:logtoold:s0
    disabled

on property:persist.asuslog.main.enable=1
    start logMain

on property:persist.asuslog.main.enable=0
    stop logMain

on property:persist.asuslog.kernel.enable=1
    start logKernel

on property:persist.asuslog.kernel.enable=0
    stop logKernel

on property:persist.asuslog.radio.enable=1
    start logRadio

on property:persist.asuslog.radio.enable=0
    stop logRadio

on property:persist.asuslog.events.enable=1
    start logEvent

on property:persist.asuslog.events.enable=0
    stop logEvent

on property:persist.asuslog.combine.enable=1
    start logCombine

on property:persist.asuslog.combine.enable=0
    stop logCombine

on property:persist.asuslog.tcpdump.enable=1
    start logTcpdump

on property:persist.asuslog.tcpdump.enable=0
    stop logTcpdump


#fdc_mts
service fdcmts /system/bin/fdcmts
    class main
    seclable u:r:logtoold:s0
    disabled

#fdc_mts2
service fdcmts2 /system/bin/fdcmts -m 2
    class main
    seclable u:r:logtoold:s0
    disabled

service fdcmdm1 /system/bin/logcontrol fdcmdm slot1
    class main
    seclable u:r:logtoold:s0
    socket fdcmdm1 stream 0660 system system
    disabled

service fdcmdm2 /system/bin/logcontrol fdcmdm slot2
    class main
    seclable u:r:logtoold:s0
    socket fdcmdm2 stream 0660 system system
    disabled


on property:persist.asuslog.modem1.enable=1
    start fdcmts

on property:persist.asuslog.modem1.enable=0
    stop fdcmts

on property:persist.asuslog.modem2.enable=1
    start fdcmts2

on property:persist.asuslog.modem2.enable=0
    stop fdcmts2

#for factory request
on property:sys.asuslog.modem1.enable=1
    start fdcmts

on property:sys.asuslog.modem1.enable=0
    stop fdcmts

on property:sys.asuslog.modem2.enable=1
    start fdcmts2

on property:sys.asuslog.modem2.enable=0
    stop fdcmts2

on property:persist.asuslog.fdcmdm1.enable=1
    start fdcmdm1

on property:persist.asuslog.fdcmdm1.enable=0
    stop fdcmdm1


on property:persist.asuslog.fdcmdm2.enable=1
    start fdcmdm2

on property:persist.asuslog.fdcmdm2.enable=0
    stop fdcmdm2



#tool_connect
service toolcommand /system/bin/toolcommand
    class main
    user root
    group root
   seclable u:r:fdctool:s0
   disabled
   oneshot



service toolconnect /system/bin/toolconnect
    class main
    user root
    group root
   socket toolconnect stream 0660 system system
   disabled


on property:persist.asuslog.tool.enable=1
   start toolconnect

on property:persist.asuslog.tool.enable=0
   stop toolconnect


#logcommand
service logcommand /system/bin/logcommand
    class main
    disabled
    seclable u:r:logtoold:s0
    oneshot


service crashlog_config /system/bin/logcontrol crashlogd
     class late_start
     user system
     group system
     oneshot

service crashlogd /system/bin/crashlogd
    disabled

on property:persist.asuslog.fdc_crashlog=0
   stop crashlogd

