import /init.watchdog.rc
import /init.firmware.rc
import /init.intel.feature.asf.rc
import /init.intel.features.rc
import /init.ksm.rc
import /init.readahead.rc
import /init.zram.rc

on early-init
    # set permission for charger-mode
    chmod 0750 /charger
    chown system system /dev/dri/card0
    chmod 0666 /dev/dri/card0
    symlink /dev/dri/card0 /dev/card0
    # Enable native bridge for target executables
    mount binfmt_misc binfmt_misc /proc/sys/fs/binfmt_misc
    #  Mount debugfs for systrace settings
    mount debugfs none /sys/kernel/debug mode=0755

on init
    # set usb serial number
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

    mkdir /storage/emulated 0555 root root

    mkdir /mnt/shell/emulated 0700 shell shell

    mkdir /mnt/media_rw/sdcard1  0700 media_rw media_rw
    mkdir /mnt/media_rw/USBdisk1 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBdisk2 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBdisk3 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBdisk4 0700 media_rw media_rw
    mkdir /mnt/media_rw/USBdisk5 0700 media_rw media_rw

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    # Disable SECONDARY_STORAGE in common
    # Shall enable it in product
    export SECONDARY_STORAGE /storage/sdcard1
    symlink /storage /Removable

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy

    # Support external SD card
    mkdir /storage/sdcard1 0700 root root

    # Support USB Disk
    mkdir /storage/USBdisk1 0700 root root
    mkdir /storage/USBdisk2 0700 root root
    mkdir /storage/USBdisk3 0700 root root
    mkdir /storage/USBdisk4 0700 root root
    mkdir /storage/USBdisk5 0700 root root

on boot
#    chown system system /dev/pvr_sync
#    chmod 666 /dev/pvr_sync

#   chown system system /dev/dri/card0
#   chmod 0666 /dev/dri/card0
#   symlink /dev/dri/card0 /dev/card0

    # IMG Graphics specific setup. See also "service pvrsrvctl"
    # The permissions below should be tighter.
#    chown system system /dev/card0
    chown system system /sys/class/backlight/psb-bl/brightness
    chown system system /sys/class/backlight/psb-bl/max_brightness
    chown system system /sys/class/backlight/psb-bl/actual_brightness
 #   chmod 0666 /dev/card0
    chmod 0664 /sys/class/backlight/psb-bl/brightness
    chmod 0664 /sys/class/backlight/psb-bl/max_brightness
    chmod 0664 /sys/class/backlight/psb-bl/actual_brightness

    #Change mmc queue nr_requests from 128 to 32 to reduce write latencies
    write /sys/block/mmcblk0/queue/nr_requests 32


# Change TCP Net-Core buffers sizes to improve cellular data throughput
     write /proc/sys/net/core/rmem_default 1048576
     write /proc/sys/net/core/rmem_max 2097152
     write /proc/sys/net/core/wmem_max 1048576

    #Set freezing timeout value as 2000ms
    write /sys/power/pm_freeze_timeout 2000

    #enable kernel compaction
    write /proc/sys/vm/compact_memory 1

on fs
    mkdir /factory 0775 system system
    mkdir /config 0775 system system
    mkdir /media 0775 media media
    mount_all /fstab
    chown root system /factory
    chmod 0770 /factory
    mkdir /config/wifi
    chown system wifi /config/wifi
    chmod 0770 /config/wifi
    mkdir /config/em
    chown system system /config/em
    chmod 0770 /config/em
    chown system system /sys/class/usb_otg/otg0/a_bus_drop
    restorecon_recursive /config
    restorecon_recursive /factory
    restorecon_recursive /logs

on post-fs
# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)

# Performance tweaks for interactive governor
    chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse_duration
    chown system system /sys/devices/system/cpu/cpufreq/interactive/touchboost_freq
    chmod 0220 /sys/devices/system/cpu/cpufreq/interactive/touchboostpulse
    chmod 0220 /sys/devices/system/cpu/cpufreq/interactive/boostpulse

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_USBdisk1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk1 /storage/USBdisk1
    class late_start
    disabled
service fuse_USBdisk2 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk2 /storage/USBdisk2
    class late_start
    disabled
service fuse_USBdisk3 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk3 /storage/USBdisk3
    class late_start
    disabled

service fuse_USBdisk4 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk4 /storage/USBdisk4
    class late_start
    disabled

service fuse_USBdisk5 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/USBdisk5 /storage/USBdisk5
    class late_start
    disabled

on post-fs-data
    mkdir /data/system/ 0770 system system
    write /proc/sys/kernel/ctrl-alt-del 0

    mkdir /mnt/asec/media 0770 media media

    # Disable data roaming option enabled by default
    setprop ro.com.android.dataroaming false

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # Set this property to force the camera shutter sound to play on speaker
    # We implement this property in buildinfo.sh. So comment this.
    # setprop ro.camera.sound.forced 1

    # Set this property to avoid fm rx to be muted
    setprop ro.fmrx.sound.forced 1

    # Set this property to enable Thermal service
    setprop persist.service.thermal 1
    # Properties for Thermal Service
    setprop persist.thermal.debug.xml 0
    setprop ro.thermal.ituxversion 3.0
    setprop persist.thermal.shutdown.msg 1
    setprop persist.thermal.shutdown.vibra 1
    setprop persist.thermal.shutdown.tone 1
    setprop persist.thermal.display.msg 1
    setprop persist.thermal.display.vibra 1

    setprop persist.selective.ota_budget 1800000

    chown system system /sys/class/drm/card0/gt_max_freq_mhz

    #support emmc_total_size
    symlink /sys/devices/pci0000:00/0000:00:01.0/emmc_total_size /data/data/emmc_total_size


on property:sys.boot_completed=1
    start bcu_cpufreqrel
    start info_setting
    start enable_adb
    start VerifyVouchers

on charger
    #set properties in COS
    start intel_prop

    chown system system /dev/dri/card0
    chmod 0666 /dev/dri/card0
    symlink /dev/dri/card0 /dev/card0

    # IMG Graphics specific setup. See also "service pvrsrvctl"
    # The permissions below should be tighter.
    chown system system /dev/card0

    start pvrsrvctl
    # reduce backlight
    write /sys/class/backlight/psb-bl/brightness 50
    #default setting to enable charging in COS
    setprop sys.usb.config charging

    start thermald

    trigger firmware_mounts_complete

service thermald /sbin/thermald
    class core
    oneshot
    disabled
    user root

service bcu_cpufreqrel /system/bin/bcu_cpufreqrel
    group system
    oneshot
    disabled

service pvrsrvctl /system/vendor/bin/pvrsrvctl --no-module --start
    class core
    oneshot
    user root

service ct_monitor /system/bin/ct_monitor
    class core
    oneshot
    user root

service charger_app /charger
    class charger
    user root
# For log uploader by qinghua_liu@asus.com
service logbackup /system/bin/sh /system/etc/packlogs.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel u:r:logtoold:s0

# Enable native bridge for target executables
on property:ro.enable.native.bridge.exec=1
    copy /system/etc/binfmt_misc/arm_exe /proc/sys/fs/binfmt_misc/register
    copy /system/etc/binfmt_misc/arm_dyn /proc/sys/fs/binfmt_misc/register

on property:ro.enable.native.bridge.exec64=1
    copy /system/etc/binfmt_misc/arm64_exe /proc/sys/fs/binfmt_misc/register
    copy /system/etc/binfmt_misc/arm64_dyn /proc/sys/fs/binfmt_misc/register

# This property trigger has added to imitiate the previous behavior of "adb root".
# The adb gadget driver used to reset the USB bus when the adbd daemon exited,
# and the host side adb relied on this behavior to force it to reconnect with the
# new adbd instance after init relaunches it. So now we force the USB bus to reset
# here when adbd sets the service.adb.root property to 1.  We also restart adbd here
# rather than waiting for init to notice its death and restarting it so the timing
# of USB resetting and adb restarting more closely matches the previous behavior.
on property:service.adb.root=1
    write /sys/class/android_usb/android0/enable 0
    restart adbd
    write /sys/class/android_usb/android0/enable 1

on property:sys.property_forcedshutdown=1
    write /sys/module/intel_mid_osip/parameters/force_shutdown_occured 1

on property:sys.shutdown.requested=0
    write /sys/devices/virtual/misc/watchdog/shutdown_ongoing 1

on property:sys.shutdown.requested=1
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1

on property:sys.shutdown.requested=1recovery
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1

on property:sys.shutdown.requested=1bootloader
    write /sys/devices/virtual/misc/watchdog/reboot_ongoing 1

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

#Enable ADB for factory test
service enable_adb /system/bin/sh /system/bin/adbon.sh
    class main
    oneshot
    disabled

service info_setting /system/bin/info_setting
    class core
    oneshot
    disabled

service VerifyVouchers /system/bin/VerifyVouchers
    class core
    user root
    oneshot
    disabled
