# Put Matrix driver device interface to diag grp
/dev/matrix                             0640   root       diag

# modem tty node change to radio user can read and write
/dev/gsmtty*              0660   system     radio
/dev/ttyMFD*              0660   system     radio
/dev/ttyACM*              0660   root       radio
/dev/ttyPTI1              0660   root       radio
/dev/ttyGS0               0660   root       radio
/dev/mdmTrace             0660   root       radio
/dev/mdm_ctrl*            0660   root       radio
/dev/ttyXMM0              0660   root       radio
/dev/ttyIFX0              0660   root       radio
/dev/ttyIFX1              0660   root       radio

# Audience device to audio group
/dev/audience_es305                     0770   audio      audio
/dev/intel_sst_ctrl                     0600   media      media
/dev/switch_ctrl                        0660   media      media

# The Intel camera device node should not be world writable/readable.
/dev/video*                             0660   root       camera
/dev/v4l-subdev*                        0660   root       camera
/dev/media*                             0660   root       camera
/dev/ipu-psys*                          0660   root       camera

# Device needed by shared transport layer (used by bluetooth, FM and GPS)
/dev/rfkill                             0660   bluetooth  bluetooth
/dev/hci_tty                            0660   bluetooth  bluetooth
/dev/ttyMFD0                            0660   bluetooth  net_bt_stack
/dev/ttyS1                              0660   bluetooth  bluetooth

# Device needed by FM
/dev/radio0                             0666   bluetooth  bluetooth
# Bluetooth and V4L2 FM
/dev/brcm_bt_drv                        0660    bluetooth   bluetooth

# Device needed by security functionalities
/dev/sep_sec_driver                     0660   system     system
/dev/mei                                0660   system     system
/dev/meimm                              0660   system     system

# Android sync framework sw driver
/dev/card0                              0666   system     system
/dev/pvr_sync                           0666   system     system
/dev/sw_sync                            0660   system     system

# NFCC devices
/dev/pn544                              0660   nfc        nfc
/dev/nfcc                               0660   nfc        nfc

# HSIC interfaces should only be readable for other
/sys/devices/pci* hsic_enable           0664   root       system
/sys/devices/pci* L2_autosuspend_enable 0664   root       system

# the 2nd modem UART interfaces should only be readable for other
/sys/devices/pci0000:00/0000:00:04.2 power/control 0664   root       system

# cpufreq sysfs interfaces permission
/sys/devices/system/cpu/cpu* cpufreq/scaling_max_freq  0664  system   system

# Set persistent partition owner to system
/dev/block/pci/pci0000:00/0000:00:01.0/by-name/persistent     0660  system  system
/dev/block/platform/80860F14:00/by-name/persistent            0660  system  system

# itux properties
/sys/devices/virtual/thermal/cooling_device*    cur_state            0644 system system
/sys/devices/virtual/thermal/thermal_zone*      trip_point_1_temp    0644 system system
/sys/devices/virtual/thermal/thermal_zone*      trip_point_0_temp    0644 system system
/sys/devices/virtual/thermal/thermal_zone*      emul_temp    0644 system system

# CPUFreq Governors
/sys/devices/system/cpu/cpufreq interactive/touchboost_freq             0644 system system
/sys/devices/system/cpu/cpufreq interactive/touchboostpulse             0220 system system
/sys/devices/system/cpu/cpufreq interactive/touchboostpulse_duration    0644 system system
